@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --main-color: #02FFFF;
    --box-color: rgba(2,255,255,0.66);
    --nav-color: rgba(2,255,255,0.36);
}

/*forum*/
.body{
    height: 100% !important;
    width: 100% !important;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(banner.jpg);
    background-position: center;
    background-size: cover;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.reviews{
    position: relative;
    width: 450px;
    height: 570px;
    background: var(--box-color);
    margin-top: 30px;
    margin-left: 20px;
}
.forums{
    position: relative;
    width: 770px;
    height: 570px;
    background: var(--box-color);
    margin-top: 30px;
    margin-right: 20px;
}
#add_rating{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 250px;
}
#create_forum{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 325px;
}
h2{
    margin-left: 10px;
}
form{
    margin-left: 10px;
}
/*star rating*/
.box{
    font-family:  'ZCOOL KuaiLe', sans-serif;
}
.container{
    display: flex;
}
.rating-wrap{
    max-width: 480px;
    margin: auto;
    padding: 15px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    text-align: center;
}
.center{
    width: 135px;
    margin: auto;
}
#rating-value{
    margin: 40px auto 0;
    width: 110px ;
    padding: 10px 5px;
    text-align: center;
    box-shadow: inset 0 0 2px 1 px rgba(46,204,113,0.2);
}
.rating{
    border: none;
    float: left;
}
.rating > input{
    display: none;
}

.rating > label:before{
    content: '\f005';
    font-family: FontAwesome;
    margin: 5px;
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
}
.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}
.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: #06692f;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #06692f;
}
/*pop-up window*/
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.sm-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 400px;
	width: 500px;
	background-color: var(--main-color);
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
.close:hover{
    color: #666;
}
.done {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
.done:hover{
    color: #666;
}
